body{
	margin: 0;
}
h4{
	display: none;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	transition: all 4s;
	color: #fff;
	font-size: 1.5rem;

}
header{
	position: sticky;
	top: 0px;
	width: 100%;
	z-index: 10;
	background-color: #8F2727;
}
.grid{
	display:grid ;

	grid-template:  5rem/ 5rem 1fr 3fr repeat(3,5.5rem) 2rem;
	
	grid-gap: 10px;
}
.items-header{
	margin: 15px 0px;
}
.fa-solid{

	color: #fff;
	font-size: 2rem;
	margin: 4.5% 0px 0px 40%;
}
.search{
	display: flex;
	align-items: center;
	width: 100%;
}
.search-container{
	display: flex;
	align-items: center;
	transition: background-color 1s ease-in-out, border .5s, width 1s ease-in-out,border-radius 1.5s;
	width: 0;
	height: 35px;
}
.fa-magnifying-glass{
	margin-top: 0;
	margin-left: 2%;
	font-size: 1.2rem;
	--fa-animation-duration: 2s;
	--fa-animation-delay: 3s;	
	
}

.search-input{
	display: block;
	margin-left: 15px;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 1.2rem;
	outline: none;
	border: none;
	background-color: transparent;
}
.title>img{
	
	height: 3.5rem;
	width: 9rem;
	margin-top: .8rem;
	margin-left: 4rem;
}
.fa-bars{
	margin: 25% 0 0 40%;
}
.fa-solid{
	transition: all .6s;
}

.items-header:hover>.fa-solid{
	position: relative;
	top: -5px;
	font-size: 1.5rem;
	margin-top: 0;
	color: #fff;
}
.items-header:hover>h4{
	display: flex;
	margin-top: 5px;
	justify-content: center;
}
.search:hover>.search-container{


	border: 3px solid #a99;
	border-radius: 35px;
	background-color: #cbb;
	width: 100%;
}
.search:hover>.search-container>i{
	color: #000;
}
.search-input:focus-visible, .search-input:hover{
	
	width: 85%;
	color: #000;
	
	
}


.items-header,.fa-solid,.title>img{
	cursor: pointer;
}
