body{
	margin: 0;
}
h2{
	font-family: 'Roboto', sans-serif;
	font-size: 2rem;
	color: #fff;
	opacity: 1 ;
}
.track>h3{
	
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	color: #aaa;
	padding: .6rem 0 0 4rem;
}

.container-main{
	position: relative;
	display: grid;
	grid-template:  35vh 35vh / 1fr 1fr 1fr ;

}
.item-menu{
	position: relative;
}
a>img{
	position: relative;
	width: 75%;
	height: 90%;
	margin: 3.5% 15% 15% 12% ;
	border-radius: 15px;
	box-shadow: 14px 14px 16px 0px rgba(99,99,99,0.79);	
	transition: filter 1s;
	transition: z-index 1s;
}

.item-label{
	display: none;
	position: absolute;
	background-color: #5119;
	border-radius: 15px;
	width: 45%;
	height: 25%;
	text-align: center;
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;
	margin: auto;
	
	
}


a:hover>.item-label{
	display: block;
}
/*a>img:hover{
	filter: blur(2px);
}*/


