h3{

	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	color: #aaa;
	padding: .6rem 0 0 4rem;
	margin-bottom: 0;
}
h2 ,p{
	font-family: 'Roboto', sans-serif;
}
h1{
	margin-top: 0;
	font-family: 'Nanum Brush Script', cursive;
	font-size: 3rem;
	margin-bottom: .5rem;
}
.flex-container{
	display: flex;
	justify-content: center;
}
.main-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 60%;
}
.description-container{
	width: 20%;
}
.img-item {
	width: 25%;
	border: 3px solid #ccc6;
	border-radius: 15px;
	box-shadow: 14px 14px 16px 0px rgba(99,99,99,0.79);	

}
.slogan-item{
	font-size: 1.2rem;
	margin-top: 2.5rem;
	color: #666;
}
.price-item{
	color: #c11;

}
.button-item{

	width: 20%;
	border-radius: 30px;
	height: 6vh;
	background-color: #8F2727;
	color: #fff;
	border: none;
	font-size: 1.3rem;
	word-spacing: 3px;
	letter-spacing: 2px;
	transition: all 1s;
}

.button-item:hover{
	background-color: #aaa;
	color: #8F2727;
}

.info-item{
	background-color:#8F272755 ;
	border-radius: 15px;
	color: #666;
	padding: 15px;
}
.h2-other{
	margin-top: 30px;
	color: #777;
}
.grid-other{
	display: flex;
	grid-template: 1fr / repeat(4,minmax(min-content,max-content));
	justify-content: center;
	grid-column-gap: 1.5rem;
	margin-top: 2rem; 
	flex-wrap: wrap;

}
.item>img{
	width: 55%;
	min-width: 30%;
}
.item>h2{
	font-size: 1.2rem;
	color: #aaa;
}